version: '3.8'

services:
  postgres_db:
    image: postgres:16-alpine
    container_name: postgres_{{.ClientID}}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: {{.DBName}}
      POSTGRES_USER: vendure
      POSTGRES_PASSWORD: XTE9YTewFVAY2hvXK9-MUg
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U vendure -d {{.DBName}}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - {{.ClientID}}_network

  vendure:
    image: abduazizali/commercex:latest
    container_name: vendure_{{.ClientID}}
    env_file:
      - ./vendure.env
    ports:
      - "3000:3000"
    depends_on:
      postgres_db:
        condition: service_healthy
    networks:
      - {{.ClientID}}_network

  storefront:
    build:
      context: ./storefront
    container_name: storefront_{{.ClientID}}
    ports:
      - "{{.StorefrontPort}}:80"
    depends_on:
      - vendure
    networks:
      - {{.ClientID}}_network

volumes:
  postgres_data:

networks:
  {{.ClientID}}_network:
    driver: bridge
