APP_ENV=production
PORT=3000
COOKIE_SECRET={{.CookieSecret}}
SUPERADMIN_USERNAME={{.AdminEmail}}
SUPERADMIN_PASSWORD={{.AdminPassword}}
DB_HOST=postgres_db
DB_PORT=5432
DB_NAME={{.DBName}}
DB_USERNAME=vendure
DB_PASSWORD=XTE9YTewFVAY2hvXK9-MUg
DB_SCHEMA=public
